/* forced popups to be centered on the screen. */

#dialog-camera-live,
.ui-dialog,
.ui-popup{
    height:auto!important;
    width:auto!important;    
    position:fixed!important;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#dialog-lmsplayer-remote,
#dialog-heosplayer-remote,
#dialog-media-remote{
    margin: 0 auto;
    min-height:300px;
    min-width:200px;
    height: 50vh;
    position:fixed!important;
    top:50%!important;
    left:50%!important;
    transform: translate(-50%, -50%)!important;
    background: #000;
}

.MediaRemote{
    position:inherit;
    height:90%!important;
    width:auto!important;
    margin: 0 auto;
    z-index:300;
    min-height:400px;
    min-width:200px;    
}

