/* LastUpdate on the dashboard. */

body.dashboard .lastupdated{opacity:0.4}

#dashcontent .divider tr,
#dashcontent .item tr{
    display:block;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height:auto;
}

#dashcontent #lastupdate{
    display:block;
    clear:both;
    width:100%;
    left:0;
    top: 0;
    height:25px; /*  25 was 20 */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity:.5;
}

#dashcontent #lastupdate > span{
    height: 20px;
    padding: 7px 3px 0px 0px;  /* 7 was 3*/
    width:100%;
    display:inline-block;
}


@media screen and (max-width: 768px){

    #dashcontent #lastupdate{
        display:block;
        height:20px;
        background-color:rgba(250,250,250,0.1);
    }
    
    #dashcontent #lastupdate > span{
        display:inline-block;
        padding-left:10px;
    }    
    
    #dashcontent .item.withstatus{
        /*background-color:#D4E1EE;*/
        /*border-bottom:20px solid transparent; /*little trick to push it down*/
    }   
    
}

@media screen and (max-width: 599px){
    
    #dashcontent #lastupdate{
        display:block;
        height:0px;
        /*background-color:rgba(250,250,250,0.1)*/
        top: -30px;
    }
    
    #dashcontent #name{
        padding-top: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 980px){

    #dashcontent .divider tr, 
    #dashcontent .item tr {
        /*min-height: 75px;*/
    }
    
    #dashcontent #lastupdate > span {
        padding-left:10px;
        box-shadow: inset 0px 0px 8px 0px rgba(130, 130, 130, 0.2); 
    }
    
    /*
    #dashcontent .item.withstatus{
        border-bottom:20px solid transparent;
    } */  
    
    
    /* grow a bit bigger if there is data ouput*/
    /*
    #dashcontent div.item.withstatus.statuscount1 tr{min-height:105px}  
    #dashcontent div.item.withstatus.statuscount2 tr{min-height:135px}
    #dashcontent div.item.withstatus.statuscount3 tr{min-height:165px}
    #dashcontent div.item.withstatus.statuscount4 tr{min-height:195px}
    #dashcontent div.item.withstatus.statuscount5 tr{min-height:225px}
    #dashcontent div.item.withstatus.statuscount6 tr{min-height:255px}
    #dashcontent div.item.withstatus.statuscount7 tr{min-height:285px}
    #dashcontent div.item.withstatus.statuscount8 tr{min-height:305px}
    #dashcontent div.item.withstatus.statuscount9 tr{min-height:335px}
    #dashcontent div.item.withstatus.statuscount10 tr{min-height:365px}   
    
    
    #dashcontent #lastupdate > span{
        padding-top:4px;
    }*/
} 





@media screen and (min-width: 981px){
    
    #dashcontent .divider tr, #dashcontent .item tr {
        min-height: 55px;
        border-radius:3px;
    }
    
    #dashcontent /*.item:not(.withstatus)*/ #name{
        padding:10px 0 0 15px/*!important*/;
    }

    #dashcontent #lastupdate{
        background-image:none;
        position:relative;
        height:0;
        overflow:visible;
        /*top: -23px;*/
        padding:0;
        left:0px;
        background-color:transparent;
        background-image:none;
    }
    #dashcontent #lastupdate > span {padding-left:15px;}
    
}    





